:root { 
    /* Standard Colours */
    --white-font: #FFFFFF;
    --black-font: #000000;
    /* Color Pallete Old */
    --colour1: #0077B6;
    --colour2: #00B4D8;
    --colour3: #03045E;
    --colour4: #90E0EF;
    --colour5: #CAF0F8;
    /* Color Pallete 1 */
    --colour1-1: #14213D;
    --colour1-2: #FCA311;
    --colour1-3: #E5E5E5;
    /* Color Pallete 2 */
    --colour2-1: #304D6D;
    --colour2-2: #63ADF2;
    --colour2-3: #A7CCED;
    /* Color Pallete 3 */
    --colour3-1: #2B2D42;
    --colour3-2: #8D99AE;
    --colour3-3: #D90429;
    --colour3-4: #EDF2F4;

    --btc: var(--colour3-1);
    --sbtc: var(--colour3-3);
    --bgc: var(--colour3-2);
    --ibc1: var(--colour3-3);
    --ibc2: purple;
}

.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: kavoon;
}

body {
    background-color: var(--bgc);
}

.banner {
    background-color: var(--colour3-4);
    color: var(--colour3-4);
    /*-webkit-text-stroke-width: .1em;
    -webkit-text-stroke-color: var(--colour3-3);*/
    text-shadow: 4px 0px 5px var(--colour3-3),
                0px 4px 5px var(--colour3-3),
                -4px 0px 5px var(--colour3-3),
                0px -4px 5px var(--colour3-3),
                4px 4px 5px var(--colour3-3),
                -4px 4px 5px var(--colour3-3),
                4px -4px 5px var(--colour3-3),
                -4px -4px 5px var(--colour3-3);
    
    font-family: 'Jolly Lodger';
    font-style: italic;
    font-size: 4em;
    padding: 1em;
    height: 1.25em;
    text-align: center;
    border-radius: .5em;
    outline: var(--colour3-1) solid .5em;
    outline-offset: -.5em;
}

.banner-title {
    
    background-image: linear-gradient(90deg, var(--btc), var(--btc));
    background-repeat: no-repeat;
    background-position: left 1em;
    background-size: 0em 8px;
    background-position-x: center;
    
    transition: background-size 500ms;
}
.banner-title:hover,
.banner-title:focus {
    background-size: 5em 8px;
}

.sub-banner {
    background-color: var(--colour3-1);
    color: var(--colour3-4);
    font-family: 'Jolly Lodger';
    font-style: italic;
    font-size: 1.5em;
    padding: 1.25em;
    height: 1.25em;
    text-align: center;
    border-radius: .5em;
    outline: var(--colour3-3) solid .5em;
    outline-offset: -.5em;
}

.sub-banner-title {
    background-image: linear-gradient(90deg, var(--sbtc), var(--sbtc));
    background-repeat: no-repeat;
    background-position: left 1em;
    background-size: 0em 8px;
    background-position-x: center;
    
    transition: background-size 500ms;
}
.sub-banner-title:hover,
.sub-banner-title:focus {
    background-size: 10em 8px;
}

.image-frame {
    background-color: var(--colour3-4);
    color: var(--colour3-1);
    border-radius: 1em;
    text-align: center;
    padding: .5em;
    overflow: hidden;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    -ms-flex-align: center;
    justify-content: center;
    gap: .5em;  
      
}

.image {
    width: 100%;
    border-radius: 1em;
    filter: saturate(.8);
    
    transition: 500ms;
}
.image:hover,
.image:focus {
    border-radius: 5em;
}

.image-blurb {
    padding: 1em;
    border-radius: 1em;
    outline: var(--colour3-1) solid .5em;
    outline-offset: -.5em;

    background-image: linear-gradient(90deg, var(--ibc1), var(--ibc2));
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0%;

    transition: 500ms;
}
.image-blurb:hover,
.image-blurb:focus {
    background-size: 100%;
    color: transparent;
}

.references {
    background-color: var(--colour3-4);
    color: var(--colour3-1);
    border-radius: 1em;
    padding: 2em;
    outline: var(--colour3-1) solid .5em;
    outline-offset: -1em;
}

.references-text {
    background-image: linear-gradient(90deg, var(--ibc1), var(--ibc2));
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0%;

    transition: 500ms;
}
.references-text:hover,
.references-text:focus {
    background-size: 100%;
    color: transparent;
}

#banner {
    grid-area: ban;
}

#sub-banner-1 {
    grid-area: sb1;
}

#image-frame-1 {
    grid-area: if1;
}

#image-frame-2 {
    grid-area: if2;
}

#sub-banner-2 {
    grid-area: sb2;
}

#image-frame-3 {
    grid-area: if3;
}

#image-frame-4 {
    grid-area: if4;
}

#sub-banner-3 {
    grid-area: sb3;
}

#image-frame-5 {
    grid-area: if5;
}

#image-frame-6 {
    grid-area: if6;
}

#sub-banner-4 {
    grid-area: sb4;
}

#image-frame-7 {
    grid-area: if7;
}

#image-frame-8 {
    grid-area: if8;
}

#sub-banner-5 {
    grid-area: sb5;
}

#image-frame-9 {
    grid-area: if9;
}

#image-frame-10 {
    grid-area: if10;
}

#sub-banner-6 {
    grid-area: sb6;
}

#image-frame-11 {
    grid-area: if11;
}

#image-frame-12 {
    grid-area: if12;
}

#sub-banner-7 {
    grid-area: sb7;
}

#references {
    grid-area: ref;
}

.main-container {
    display: grid;
    column-gap: 1em;
}

.main-container {
    /* mobile phone layout */
    grid-template:
        " .   .   .   . " minmax(2em, auto)
        "ban ban ban ban" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb1 sb1 sb1 sb1" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if1 if1 if1 if1" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if2 if2 if2 if2" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb2 sb2 sb2 sb2" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if3 if3 if3 if3" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if4 if4 if4 if4" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb3 sb3 sb3 sb3" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if5 if5 if5 if5" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if6 if6 if6 if6" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb4 sb4 sb4 sb4" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if7 if7 if7 if7" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if8 if8 if8 if8" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb5 sb5 sb5 sb5" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if9 if9 if9 if9" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if10 if10 if10 if10" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb6 sb6 sb6 sb6" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if11 if11 if11 if11" minmax(1em, auto)
        " .   .   .   . " minmax(2em, auto)
        "if12 if12 if12 if12" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "sb7 sb7 sb7 sb7" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
        "ref ref ref ref" minmax(1em, auto)
        " .   .   .   . " minmax(4em, auto)
}

@media (min-width: 50em) {
    body {
        --bgc: var(--colour2-3);
    }
    .main-container {
        --btc: var(--colour2-1);
        --sbtc: var(--colour2-2);
        --ibc1: rgb(255, 0, 183);
        --ibc2: rgb(212, 0, 255);
        
        
        .banner{
            background-color: var(--colour2-2);
            color: var(--colour2-2);
            text-shadow: 4px 0px 5px var(--colour2-1),
                        0px 4px 5px var(--colour2-1),
                        -4px 0px 5px var(--colour2-1),
                        0px -4px 5px var(--colour2-1),
                        4px 4px 5px var(--colour2-1),
                        -4px 4px 5px var(--colour2-1),
                        4px -4px 5px var(--colour2-1),
                        -4px -4px 5px var(--colour2-1);
            outline: var(--colour2-1) solid .5em;
        }

        .sub-banner {
            background-color: var(--colour2-1);
            color: var(--colour2-3);
            outline: var(--colour2-2) solid .5em;            
        }

        .image-frame {
            background-color: var(--colour2-2);
            color: var(--colour2-1);             
        }

        .image {
            filter: saturate(.4);    
        }

        .image-blurb {
            outline: var(--colour2-1) solid .5em;
        }

        .references {
            background-color: var(--colour2-2);
            color: var(--colour2-1);
            outline: var(--colour2-1) solid .5em;
        }

            /* tablet layout */
        grid-template:
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "ban ban ban ban ban ban ban ban" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb1 sb1 sb1 sb1  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if1 if1 if1 if1 if2 if2 if2 if2" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb2 sb2 sb2 sb2  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if3 if3 if3 if3 if4 if4 if4 if4" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb3 sb3 sb3 sb3  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if5 if5 if5 if5 if6 if6 if6 if6" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb4 sb4 sb4 sb4  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if7 if7 if7 if7 if8 if8 if8 if8" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb5 sb5 sb5 sb5  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if9 if9 if9 if9 if10 if10 if10 if10" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb6 sb6 sb6 sb6  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if11 if11 if11 if11 if12 if12 if12 if12" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .  sb7 sb7 sb7 sb7  .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
            "ref ref ref ref ref ref ref ref" minmax(1em, auto)
            " .   .   .   .   .   .   .   . " minmax(4em, auto)
    }
}

@media (min-width: 75em) {
    body {
        --bgc: var(--colour1-3);
    }
    .main-container {
        --btc: var(--colour1-2);
        --sbtc: var(--colour1-1);
        --ibc1: red;
        --ibc2: orange;
        
        .banner{
            background-color: var(--colour1-1);
            color: var(--colour1-1);
            text-shadow: 4px 0px 5px var(--colour1-2),
                        0px 4px 5px var(--colour1-2),
                        -4px 0px 5px var(--colour1-2),
                        0px -4px 5px var(--colour1-2),
                        4px 4px 5px var(--colour1-2),
                        -4px 4px 5px var(--colour1-2),
                        4px -4px 5px var(--colour1-2),
                        -4px -4px 5px var(--colour1-2);
            outline: var(--colour1-2) solid .5em;
        }

        .sub-banner {
            background-color: var(--colour1-2);
            color: var(--colour1-1);
            outline: var(--colour1-1) solid .5em;            
        }

        .image-frame {
            background-color: var(--colour1-1);
            color: var(--colour1-3);             
        }

        .image {
            filter: saturate(.15);    
        }

        .image-blurb {
            outline: var(--colour1-2) solid .5em;
        }

        .references {
            background-color: var(--colour1-1);
            color: var(--colour1-3);
            outline: var(--colour1-2) solid .5em;
        }

        /* desktop layout */
        grid-template:
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "ban ban ban ban ban ban ban ban ban ban ban ban" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb1 sb1 sb1 sb1 sb1 sb1  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if1 if1 if1 if1 if1 if1 if2 if2 if2 if2 if2 if2" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb2 sb2 sb2 sb2 sb2 sb2  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if3 if3 if3 if3 if3 if3 if4 if4 if4 if4 if4 if4" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb3 sb3 sb3 sb3 sb3 sb3  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if5 if5 if5 if5 if5 if5 if6 if6 if6 if6 if6 if6" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb4 sb4 sb4 sb4 sb4 sb4  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if7 if7 if7 if7 if7 if7 if8 if8 if8 if8 if8 if8" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb5 sb5 sb5 sb5 sb5 sb5  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if9 if9 if9 if9 if9 if9 if10 if10 if10 if10 if10 if10" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb6 sb6 sb6 sb6 sb6 sb6  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(2em, auto)
            "if11 if11 if11 if11 if11 if11 if12 if12 if12 if12 if12 if12" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            " .   .   .  sb7 sb7 sb7 sb7 sb7 sb7  .   .   . " minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
            "ref ref ref ref ref ref ref ref ref ref ref ref" minmax(1em, auto)
            " .   .   .   .   .   .   .   .   .   .   .   . " minmax(4em, auto)
    }
}
